body {
    background-image: url(imgs.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(11px);
}

#canvas {
    border: 2px solid black;
    max-width: 90%;
    min-width: 90%;
}
